body {
    background-color:cadetblue;


}
.jumbotron{
    background-color: #C4C4C4;
    
   }

.footer{
    background-color: 	#C4C4C4;
    
}
.jumbotron1{
    background-image: url("http://3.bp.blogspot.com/-3nqnJjk6r3s/TwiXguc_GOI/AAAAAAAABoU/4hfVcz78p0M/s1600/cute-dog-funny-glasses-pet-Favim.com-42794.jpg");
    color: whitesmoke;

   }

#map{
    height: 400px;
    width: 100%;
}