body {
    background-color: white;
    position: relative;
    min-height: 100%;
    margin-bottom: 60px;
}

#dogpic {
    background-color: white;

}

<<<<<<< HEAD
.footer{
    background-color: 	#C4C4C4;
}
.jumbotron1{
    background-image: url("http://3.bp.blogspot.com/-3nqnJjk6r3s/TwiXguc_GOI/AAAAAAAABoU/4hfVcz78p0M/s1600/cute-dog-funny-glasses-pet-Favim.com-42794.jpg");
    color: whitesmoke;

   }

   /* New styling */
   /* Need to figure out how to position the donation container within jumbotron container */
   .donation-row {
    position: absolute;
    float: right;
    margin: auto;
    top: 12%;
    left:50%;
   }

   /* Styling for the actual Donation Container */

   .donateContainer {

    /* float: right; */
    /* margin-right: 100px; */
    margin-top: 200px;
    /* background-color: white; */
    /* height: 250px; */
    width: 450px;
    border: none;
    border-style: solid;
    border-radius: 10px;

    padding: 30px;
=======
.card-img {
    width: 400px;
    height: auto;
}

#doginfo {
    background-color: white;
>>>>>>> master
}
 /* the box that holds the photo with text from dogs  */
.info{
    font-size: 18px;
}
h2{
    font-size: 18px;
}
.details-img-top{
    width: 100%;
}
.float-left{
margin-left: 15px;
}

.card {
    border: none;
}


#map {
    background-color:white;
  
}

#form-submission {
    background-color: grey;
    height: 500px;
}

#dogbone {
    background-color: purple;
}


.footer{
    background-color: 	#C4C4C4;
    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 70px; /* Vertically center the text there */
    
}

.glyphicon{
    background: url("images/bone.png") ;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-size:80px;   
    height: 100px;
    width: 100px;
    background-color: #4bc8d6;
    border-radius: 25px; 
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 3px 3px 0 rgba(0,0,0,0.19);
    margin-right: 25px;
}

.glyphicon2{
    background: url("images/dogGlyph.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:70px;   
    height: 100px;
    width: 100px;
    background-color: #4bc8d6;
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 3px 3px 0 rgba(0,0,0,0.19);
}
   
button:focus{
    outline: none;
}

