body {
    background-color:cadetblue;


}
.jumbotron{
    background-color: #C4C4C4;
    
   }

.footer{
    background-color: 	#C4C4C4;
    
}
.jumbotron1{
    background-image: url("http://3.bp.blogspot.com/-3nqnJjk6r3s/TwiXguc_GOI/AAAAAAAABoU/4hfVcz78p0M/s1600/cute-dog-funny-glasses-pet-Favim.com-42794.jpg");
    color: whitesmoke;

   }




   /* New styling */


   /* Need to figure out how to position the donation container within jumbotron container */

   .donation-row {

    position: absolute;
    float: right;
    margin: auto;
    top: 12%;
    left:50%;

   }

   /* Styling for the actual Donation Container */

   .donateContainer {

    float: right;
    margin-right: 100px;
    margin-top: 200px;
    background-color: white;
    height: 250px;
    width: 450px;
    border: none;
    border-style: solid;
    border-radius: 10px;

    padding: 30px;
}

#WantToHeader {

    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

#MakeDonation

{
    text-align: center;
}

.buttonHolder {

    text-align: center;


}