    
body  {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(20,20,20, .6), rgba(20,20,20, .6)), url("images/dog_owner_1.jpg") no-repeat center center fixed;
    background-size: cover;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #C4C4C4;

}
.container {

    position: absolute;
    width: 800px;
    height: 150px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-md-12{
    top:100px;  
}
.mb-2, .my-2{
    margin-bottom:0!important;
}
h1 {
    color: white;
    font-size: 5em;
    font-family: 'Comic Sans', sans-serif;	
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    color: white;
    font-size: 1.1em;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

 .container2 {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-start {
    background-color: white;
    position: absolute;
    width: 500px;
    height: 300px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#start-app {
    background-color: white;
    float: left;
    width: 100px;

}

.jumbotron {
background-color: #C4C4C4;
text-align: center;
padding: 0;
height: 100px;
margin-top: 0px;  
}

.logo {
width: 200px;
}

.jumbotron1 {
    text-align: center;
    border-bottom: 0;
    background-color:cadetblue;
    color: white;
    position: relative;
    top: 700px;
}
.form-control{
    width: 15%;
    height:38px;
}